PORT=5000
BASE_PATH=/
NODE_ENV=production
APP_BASE_URL=https://cosiri.ngstco.com
DATABASE_URL=postgresql://esghubadmin:%40Ahmed%40Saas12@esghub-prod-pg.postgres.database.azure.com:5432/cosiri_gmp_merge?sslmode=require
PRIVATE_OBJECT_DIR=./storage/private
PUBLIC_OBJECT_SEARCH_PATHS=./artifacts/platform/public,./artifacts/api-server/dist/public
AI_INTEGRATIONS_OPENAI_API_KEY=
AI_INTEGRATIONS_OPENAI_BASE_URL=
PAYPAL_CLIENT_ID=AUYCA2MugQ1ffhzXVG-_cUUB_Ent5XagqKp3p8rbRig7-UsIX_BLKWzFxG5H3d6_velhpeNPunfLVzKQ
PAYPAL_SECRET_KEY=EA8lD9K1hYojkhi0-Bsc0SQ-pUJEDBzplndT4wMHiuMxmcAcuP1XT4Y84z3gu8H4oyI-dbA95aB9XKdD
PAYPAL_MODE=live
PAYPAL_WEBHOOK_ID=5V170965NE6466901
PAYPAL_WEBHOOK_URL=https://cosiri.ngstco.com/api/billing/paypal-webhook
PAYPAL_PLAN_SOLO_ANNUAL=P-01R28379T4110825CNHHXC5Q
PAYPAL_PLAN_SOLO_MONTHLY=P-6JW16155KF7747030NHHXC5Y
PAYPAL_PLAN_UNLIMITED_ANNUAL=P-1XJ925580P7190235NHHXC6A
PAYPAL_PLAN_UNLIMITED_MONTHLY=P-31129897UG806234NNHHXC6I
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_EMAIL=ahmedidrisy@yahoo.com
DEFAULT_ADMIN_PASSWORD=sEG1NV8L9053Z3xyA1!
DEFAULT_ADMIN_DISPLAY_NAME=COSIRI Administrator
